In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
963,tt0303933,20000000,57588485,Drumline,Nick Cannon|Zoe Saldana|Orlando Jones|Leonard ...,Charles Stone III,Half time is game time,A fish-out-of-water comedy about a talented st...,118,Drama|Romance|Comedy|Music,Fox 2000 Pictures,12/13/2002,6.3,2002
1163,tt0295289,20000000,17432163,A Guy Thing,Jason Lee|Julia Stiles|Selma Blair|James Broli...,Chris Koch,Boy meets girl. Boy meets girl's cousin.,Paul Morse is a good guy. When his friends thr...,101,Comedy|Romance,Metro-Goldwyn-Mayer (MGM)|David Ladd Films,1/17/2003,5.3,2003
604,tt1099212,37000000,392616625,Twilight,Kristen Stewart|Robert Pattinson|Billy Burke|T...,Catherine Hardwicke,"When you can live forever, what do you live for?",When Bella Swan moves to a small town in the P...,122,Adventure|Fantasy|Drama|Romance,Summit Entertainment|Maverick Films|Imprint En...,11/20/2008,5.8,2008
1344,tt0356910,110000000,478207520,Mr. & Mrs. Smith,Angelina Jolie|Brad Pitt|Vince Vaughn|Adam Bro...,Doug Liman,Smart and sexy.,After five (or six) years of vanilla-wedded bl...,120,Action|Comedy|Drama|Thriller,20th Century Fox|Weed Road Pictures|Dutch Oven...,6/7/2005,6.5,2005
1022,tt1591479,12000000,81272766,Act of Valor,Roselyn SÃ¡nchez|Emilio Rivera|Nestor Serrano|...,Mike McCoy|Scott Waugh,The only easy day was yesterday,When a covert mission to rescue a kidnapped CI...,110,Action|Thriller|War,Relativity Media|Bandito Brothers,2/24/2012,6.3,2012

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [26]:
answers = {} # создадим словарь для ответов

# Прибыль и убытки считаем разницей между
data1 = data.copy()
data1['profit']=data['revenue']-data['budget']

#the time given in the dataset is in string format.
#So we need to change this in datetime format
pd.to_datetime(data.release_date)

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [55]:

answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

In [57]:
data[data['budget'] == data['budget'].max()]['original_title'].values[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [58]:
data.sort_values(by='budget',ascending=False)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011
1669,tt0449088,300000000,961000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,5/19/2007,6.8,2007
14,tt2395427,280000000,1405035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,4/22/2015,7.4,2015
1014,tt0401729,260000000,284139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,3/7/2012,6.0,2012
380,tt0398286,260000000,591794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,11/24/2010,7.3,2010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
885,tt0283111,5000000,38275483,National Lampoonâ€™s Van Wilder,Ryan Reynolds|Tara Reid|Tim Matheson|Kal Penn|...,Walt Becker,Don't Graduate. Celebrate.,"Van Wilder is an outgoing, and extremely popul...",92,Comedy|Romance,Tapestry Films|Artisan Entertainment,3/29/2002,5.9,2002
892,tt0259446,5000000,368744044,My Big Fat Greek Wedding,Nia Vardalos|John Corbett|Lainie Kazan|Michael...,Joel Zwick,Love is here to stay... so is her family.,A young Greek woman falls in love with a non-G...,95,Comedy|Drama|Romance,MPH Entertainment|Playtone Productions|Gold Ci...,2/22/2002,6.1,2002
1071,tt2109184,5000000,142817992,Paranormal Activity 4,Katie Featherston|Kathryn Newton|Matt Shively|...,Henry Joost|Ariel Schulman,It's closer than you think,It has been five years since the disappearance...,95,Horror,Paramount Pictures|Blumhouse Productions|Room ...,10/17/2012,5.3,2012
911,tt0322802,5000000,64282312,Jackass: The Movie,Johnny Knoxville|Bam Margera|Steve-O|Chris Pon...,Jeff Tremaine,Do not attempt this at home.,Johnny Knoxville and his crazy friends appear ...,87,Comedy,Paramount Pictures,10/21/2002,6.2,2002
1216,tt2101441,5000000,31724284,Spring Breakers,James Franco|Selena Gomez|Vanessa Hudgens|Ashl...,Harmony Korine,A little sun can bring out your dark side.,After four college girls rob a restaurant to f...,94,Drama|Crime,RabbitBandini Productions|Division Films|Pop F...,1/24/2013,5.0,2013

# 2. Какой из фильмов самый длительный (в минутах)?

In [53]:

answers['2'] = 'Gods and Generals (tt0279111)'

In [ ]:
data[data['runtime'] == data['runtime'].max()]['original_title'].values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [ ]:
data[data['runtime'] == data['runtime'].min()]['original_title'].values[0]

In [52]:
answers['3'] = 'Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [ ]:
round(data.runtime.mean())

In [51]:
answers['4'] = '110'

# 5. Каково медианное значение длительности фильмов?

In [ ]:
round(data.runtime.median())

In [50]:
answers['5'] = '107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [10]:
data1=data.copy()
data1['profit'] = data['revenue']-data['budget']

In [6]:
data1[data1['profit'] == data1['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

In [49]:
answers['6'] = 'Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [11]:
data1[data1['profit'] == data1['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [48]:
answers['7'] = 'The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [8]:
data1[data1.profit > 0].original_title.count()

1478

In [47]:
answers['8'] = '1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [9]:
data[data['release_year'] == 2008].query('revenue == revenue.max()').original_title

599    The Dark Knight
Name: original_title, dtype: object

In [46]:
answers['9'] = 'The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [12]:
d3 = data1[(data1.release_year >= 2012 ) & (data1.release_year <= 2014)]
data1[data1['profit'] == data1['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

In [45]:
answers['10'] = 'The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [13]:
data1.genres.str.split('|').explode().mode()

0    Drama
dtype: object

ВАРИАНТ 2

In [14]:
data1.genres.str.split('|').explode().value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

In [44]:
answers['11'] = 'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [13]:

data1[data1.profit > 0].genres.str.split('|').explode().mode()

0    Drama
dtype: object

In [43]:
answers['12'] = 'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [29]:
directors = set(data.director.str.split('|').sum())
pd.Series({x: data[data.director.str.contains(x)].revenue.sum() for x in directors}).sort_values(ascending = False)

Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Length: 997, dtype: int64

In [42]:
answers['13'] = 'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [9]:
data[data.genres.str.contains('Action')].director.str.split('|').explode().mode()[0]

'Robert Rodriguez'

In [41]:
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [3]:
cols = ['cast', 'revenue', 'original_title']
df = data.query('release_year == 2012')[cols].copy()
df['cast'] = df.cast.str.split('|')
df = df.explode('cast')
df = df.groupby(['cast'])[['revenue']].sum().sort_values(by = 'revenue',ascending=False)
df

                      revenue
cast
Chris Hemsworth    2027450773
Denis Leary        1629460639
Anne Hathaway      1522851057
Robert Downey Jr.  1519557910
Mark Ruffalo       1519557910
...                       ...
Michael Nyqvist       3428048
Danny Huston          2106557
Josh Lucas            2106557
Sami Gayle            2106557
Nicolas Cage          2106557

[466 rows x 1 columns]

In [40]:
answers['15'] = 'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [4]:

data[data.budget > data.budget.mean()].cast.str.split('|').explode().mode()[0]

'Matt Damon'

In [39]:
answers['16'] = 'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [5]:
d2 = data[data.cast.str.contains('Nicolas Cage')]
n_cage = d2['genres'].str.cat(sep='|')
n_cage = pd.Series(n_cage.split('|'))
n_cage.value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

In [38]:
answers['17'] = 'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [14]:
df = data1.copy()
df['production_companies'] = df['production_companies'].str.split('|')
df = df.explode('production_companies')
df1 = df[df.production_companies == 'Paramount Pictures']
df1.groupby(['original_title'])[['imdb_id','profit']].min().sort_values(by = 'profit')

                                                      imdb_id     profit
original_title
K-19: The Widowmaker                                tt0267626  -64831034
Timeline                                            tt0300556  -60519261
Next                                                tt0435705  -51788987
Alfie                                               tt0375173  -46604061
Twisted                                             tt0315297  -24805000
...                                                       ...        ...
Mission: Impossible - Ghost Protocol                tt1229238  549713380
Transformers                                        tt0418279  559709780
Indiana Jones and the Kingdom of the Crystal Skull  tt0367882  601636033
Transformers: Revenge of the Fallen                 tt1055369  686297228
Transformers: Dark of the Moon                      tt1399103  928746996

[122 rows x 2 columns]

In [37]:
answers['18'] = 'K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [19]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head()

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
Name: revenue, dtype: int64

In [36]:

answers['19'] = '2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [18]:

data1[data1.production_companies.str.contains("Warner Bros", na=False)].groupby(
    data['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [35]:
answers['20'] = '2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [17]:
df_t = data.copy()
df_t.release_date = pd.to_datetime(df_t.release_date)
df_t.release_date.dt.strftime('%B').value_counts(ascending=False)

September    227
December     190
October      186
August       161
March        156
April        149
June         147
November     146
July         142
May          140
February     135
January      110
Name: release_date, dtype: int64

In [34]:
answers['21'] = 'September'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [16]:

df_t = data.copy()
df_t.release_date = pd.to_datetime(df_t.release_date)
df_t.release_date.dt.month.isin([6,7,8]).value_counts()

False    1439
True      450
Name: release_date, dtype: int64

In [33]:

answers['22'] = '450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [15]:

df= data.copy()
df.release_date = pd.to_datetime(df.release_date)
df[df.release_date.dt.month.isin([12,1,2])].director.str.split('|').explode('director').value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Nancy Meyers         4
                    ..
Ric Roman Waugh      1
Michel Gondry        1
NimrÃ³d Antal        1
J.J. Abrams          1
Donovan Cook         1
Name: director, Length: 358, dtype: int64

In [32]:
answers['23'] = 'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [20]:
data1['title_length'] = data1['original_title'].map(lambda x: len(x))  
companies = data1['production_companies'].str.split('|').explode().unique()    
sum_gen = pd.Series(dtype='float64', index=companies)     

for comp in companies:
    sum_gen[comp] = data1['title_length'][data1['production_companies'].map(lambda x: True if comp in x else False)].mean()
    
sum_gen.sort_values(ascending=False)

Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Length: 1771, dtype: float64

In [31]:
answers['24'] = 'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [21]:
df2 = data.copy()
df2['lenght_overview'] = df2['overview'].str.split(' ').str.len()
df2['production_companies'] = df2['production_companies'].str.split('|')
df2 = df2.explode('production_companies')
df2.groupby(['production_companies'])[['lenght_overview']].mean().idxmax()

lenght_overview    Midnight Picture Show
dtype: object

In [30]:
answers['25'] = 'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [22]:

top = np.quantile(data.vote_average, 0.99)
data[data.vote_average >= top].sort_values(by='vote_average', ascending=False)['original_title']

599                                       The Dark Knight
9                                              Inside Out
34                                                   Room
118                                          Interstellar
125                                    The Imitation Game
370                                             Inception
1191                                     12 Years a Slave
1183                              The Wolf of Wall Street
1081        The Lord of the Rings: The Return of the King
872                                           The Pianist
1800                                              Memento
119                               Guardians of the Galaxy
138                              The Grand Budapest Hotel
128                                             Gone Girl
283                                            Mr. Nobody
1688                                  There Will Be Blood
1563                Eternal Sunshine of the Spotless Mind
1444                                         The Prestige
1213                                   Dallas Buyers Club
1205                                            Prisoners
124                                            Big Hero 6
1188                                                  Her
316                                              3 Idiots
863                 The Lord of the Rings: The Two Towers
155                              The Theory of Everything
28                                              Spotlight
177                                The Fault in Our Stars
496     The Lord of the Rings: The Fellowship of the Ring
Name: original_title, dtype: object

In [29]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [23]:
pairs = Counter()
for i in range(0,len(data)):
    artists = data.cast[i].split('|')
    for j in list(combinations(artists, 2)):
        if j not in pairs:
            pairs[j] = 1
        else:
            pairs[j] += 1
pairs.most_common(5)

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8),
 (('Rupert Grint', 'Emma Watson'), 7),
 (('Ben Stiller', 'Owen Wilson'), 6),
 (('Johnny Depp', 'Helena Bonham Carter'), 6)]

In [28]:
answers['27'] = 'Daniel Radcliffe', 'Rupert Grint'

# Submission

In [ ]:
# ответы к каждому вопросу
answers

In [24]:
{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

{'1': '723. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '1157. Gods and Generals (tt0279111)',
 '3': '768. Winnie the Pooh (tt1449283)',
 '4': '110',
 '5': '107',
 '6': '239. Avatar (tt0499549)',
 '7': '1245. The Lone Ranger (tt1210819)',
 '8': '1478',
 '9': '599. The Dark Knight (tt0468569)',
 '10': '1245. The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker (tt0267626)',
 '19': '2015',
 '20': '2014',
 '21': 'September',
 '22': '450',
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': ('Daniel Radcliffe', 'Rupert Grint')}

In [56]:

len(answers)

27